In [53]:
import matplotlib as plt
import pandas as pd
from sqlalchemy import create_engine

### Extract CSVs into DataFrames

In [54]:
pokemon_file = "../Resources/pokemon.csv"
pokemon_df = pd.read_csv(pokemon_file)
pokemon_df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [55]:
types_file = "../Resources/types.csv"
types_df = pd.read_csv(types_file)
types_df.head()

   id identifier  generation_id  damage_class_id
0   1     normal              1              2.0
1   2   fighting              1              2.0
2   3     flying              1              2.0
3   4     poison              1              2.0
4   5     ground              1              2.0

In [56]:
moves_file = "../Resources/moves.csv"
moves_df = pd.read_csv(moves_file)
moves_df.head()

,id,identifier,generation_id,type_id,power,pp,accuracy,priority,target_id,damage_class_id,effect_id,effect_chance,contest_type_id,contest_effect_id,super_contest_effect_id
0,1,pound,1,1,40.0,35.0,100.0,0,10,2,1,NaN,5.0,1.0,5.0
1,2,karate-chop,1,2,50.0,25.0,100.0,0,10,2,44,NaN,5.0,2.0,5.0
2,3,double-slap,1,1,15.0,10.0,85.0,0,10,2,30,NaN,5.0,10.0,7.0
3,4,comet-punch,1,1,18.0,15.0,85.0,0,10,2,30,NaN,5.0,12.0,7.0
4,5,mega-punch,1,1,80.0,20.0,85.0,0,10,2,1,NaN,5.0,1.0,18.0

### Transform Types DataFrame

In [113]:
# Create a filtered dataframe from specific columns for Pokemon
types_cols = ["id","identifier"]
types_transformed = types_df[types_cols].copy()

# Rename the Column Headers
types_transformed = types_transformed.rename(columns={"id": "TID","identifier": "Type"})

# Set index
# types_transformed.set_index("TID", inplace=True)

# Capitalize 
types_transformed['Type']=types_transformed['Type'].str.capitalize()
types_transformed

      TID      Type
0       1    Normal
1       2  Fighting
2       3    Flying
3       4    Poison
4       5    Ground
5       6      Rock
6       7       Bug
7       8     Ghost
8       9     Steel
9      10      Fire
10     11     Water
11     12     Grass
12     13  Electric
13     14   Psychic
14     15       Ice
15     16    Dragon
16     17      Dark
17     18     Fairy
18  10001   Unknown
19  10002    Shadow

### Transform Pokemon Moves DataFrame

In [114]:
# Create a filtered dataframe from specific columns for Pokemon
moves_cols = ["id","identifier","type_id"]
moves_transformed = moves_df[moves_cols].copy()

# Rename the Column Headers
moves_transformed = moves_transformed.rename(columns={"id": "MID","identifier": "Moves","type_id": "TID"})

# Set index
# moves_transformed.set_index("MID", inplace=True)

# Capitalize
moves_transformed['Moves']=moves_transformed['Moves'].str.title()
moves_transformed.head()

   MID        Moves  TID
0    1        Pound    1
1    2  Karate-Chop    2
2    3  Double-Slap    1
3    4  Comet-Punch    1
4    5   Mega-Punch    1

### Transform Pokemon Datarame

In [117]:
# Create a filtered dataframe from specific columns for Pokemon
pokemon_cols = ["Name","Type 1","Attack","Defense","Speed"]
pokemon_transformed = pokemon_df[pokemon_cols].copy()

# Rename the Column Headers
pokemon_transformed = pokemon_transformed.rename(columns={"Name": "Pokemon_Name","Type 1": "Type"})

# Set index
# Add new  index for pokemon evolutions and remane PID 
# pokemon_transformed.set_index("Pokemon_Name", inplace=True)

pokemon_transformed.head()

            Pokemon_Name   Type  Attack  Defense  Speed
0              Bulbasaur  Grass      49       49     45
1                Ivysaur  Grass      62       63     60
2               Venusaur  Grass      82       83     80
3  VenusaurMega Venusaur  Grass     100      123     80
4             Charmander   Fire      52       43     65

### Merge

In [124]:
# Merge on type to include typeid
pokemon_merged=pokemon_transformed.merge(types_transformed,
                                        on='Type', 
                                        how='outer')

pokemon_merged_fix=pokemon_merged[['Pokemon_Name','Type','TID','Attack','Defense','Speed']].dropna()
pokemon_merged_fix.set_index("Pokemon_Name", inplace=True)
pokemon_merged_fix

                           Type  TID  Attack  Defense  Speed
Pokemon_Name
Bulbasaur                 Grass   12    49.0     49.0   45.0
Ivysaur                   Grass   12    62.0     63.0   60.0
Venusaur                  Grass   12    82.0     83.0   80.0
VenusaurMega Venusaur     Grass   12   100.0    123.0   80.0
Oddish                    Grass   12    50.0     55.0   30.0
Gloom                     Grass   12    65.0     70.0   40.0
Vileplume                 Grass   12    80.0     85.0   50.0
Bellsprout                Grass   12    75.0     35.0   40.0
Weepinbell                Grass   12    90.0     50.0   55.0
Victreebel                Grass   12   105.0     65.0   70.0
Exeggcute                 Grass   12    40.0     80.0   40.0
Exeggutor                 Grass   12    95.0     85.0   55.0
Tangela                   Grass   12    55.0    115.0   60.0
Chikorita                 Grass   12    49.0     65.0   45.0
Bayleef                   Grass   12    62.0     80.0   60.0
Meganium                  Grass   12    82.0    100.0   80.0
Bellossom                 Grass   12    80.0     95.0   50.0
Hoppip                    Grass   12    35.0     40.0   50.0
Skiploom                  Grass   12    45.0     50.0   80.0
Jumpluff                  Grass   12    55.0     70.0  110.0
Sunkern                   Grass   12    30.0     30.0   30.0
Sunflora                  Grass   12    75.0     55.0   30.0
Treecko                   Grass   12    45.0     35.0   70.0
Grovyle                   Grass   12    65.0     45.0   95.0
Sceptile                  Grass   12    85.0     65.0  120.0
SceptileMega Sceptile     Grass   12   110.0     75.0  145.0
Seedot                    Grass   12    40.0     50.0   30.0
Nuzleaf                   Grass   12    70.0     40.0   60.0
Shiftry                   Grass   12   100.0     60.0   80.0
Shroomish                 Grass   12    40.0     60.0   35.0
...                         ...  ...     ...      ...    ...
SteelixMega Steelix       Steel    9   125.0    230.0   30.0
Skarmory                  Steel    9    80.0    140.0   70.0
Mawile                    Steel    9    85.0     85.0   50.0
MawileMega Mawile         Steel    9   105.0    125.0   50.0
Aron                      Steel    9    70.0    100.0   30.0
Lairon                    Steel    9    90.0    140.0   40.0
Aggron                    Steel    9   110.0    180.0   50.0
AggronMega Aggron         Steel    9   140.0    230.0   50.0
Beldum                    Steel    9    55.0     80.0   30.0
Metang                    Steel    9    75.0    100.0   50.0
Metagross                 Steel    9   135.0    130.0   70.0
MetagrossMega Metagross   Steel    9   145.0    150.0  110.0
Registeel                 Steel    9    75.0    150.0   50.0
Jirachi                   Steel    9   100.0    100.0  100.0
Bronzor                   Steel    9    24.0     86.0   23.0
Bronzong                  Steel    9    89.0    116.0   33.0
Dialga                    Steel    9   120.0    120.0   90.0
Klink                     Steel    9    55.0     70.0   30.0
Klang                     Steel    9    80.0     95.0   50.0
Klinklang                 Steel    9   100.0    115.0   90.0
Cobalion                  Steel    9    90.0    129.0  108.0
Honedge                   Steel    9    80.0    100.0   28.0
Doublade                  Steel    9   110.0    150.0   35.0
AegislashBlade Forme      Steel    9   150.0     50.0   60.0
AegislashShield Forme     Steel    9    50.0    150.0   60.0
Klefki                    Steel    9    80.0     91.0   75.0
TornadusIncarnate Forme  Flying    3   115.0     70.0  111.0
TornadusTherian Forme    Flying    3   100.0     80.0  121.0
Noibat                   Flying    3    30.0     35.0   55.0
Noivern                  Flying    3    70.0     80.0  123.0

[800 rows x 5 columns]

### Create database connection

In [6]:
connection_string = "postgres:postgres@localhost:5432/customer_db"
engine = create_engine(f'postgresql://{connection_string}')

In [7]:
# Confirm tables
engine.table_names()

['county', 'premise']

### Load DataFrames into database

In [8]:
premise_transformed.to_sql(name='premise', con=engine, if_exists='append', index=True)

In [9]:
county_transformed.to_sql(name='county', con=engine, if_exists='append', index=True)